<div class="h-20 p-4">
  Filter / Suchfeld
</div>
<div class="flex p-4 space-x-4">
  <div class="box-content-layout w-full h-full">
    <div class="flex justify-between">
    <p class="text-lg">Fragenliste</p>
    <div>
      <button mat-icon-button>
        <mat-icon>table_rows</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontSet="material-icons-outlined">vertical_split</mat-icon>
      </button>  
    </div>
  </div>
    <mat-divider></mat-divider>
    <!-- <table class="m-4 w-full">
      <thead class="border-2 border-">
        <tr>
          <th class="text-left">Titel</th>
          <th class="text-left"> FragenTyp </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let frage of fragen$ | async">
          <td class="text-sm p-2 w-4/5">{{frage.frage}}</td>
          <td class="text-sm w-1/5">{{antwortTyp[frage.antwortTyp]}}</td>
        </tr>
      </tbody>
    </table> -->
    <div class="mt-4">
      <div class="w-full">

        <table cdk-table multiTemplateDataRows [dataSource]="fragen$" class="w-full">
          
          <ng-container cdkColumnDef="frage">
            <th class="text-left" cdk-header-cell *cdkHeaderCellDef> Frage </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.frage}} </td>
          </ng-container>
          <ng-container cdkColumnDef="antwortTyp">
            <th class="text-left" cdk-header-cell *cdkHeaderCellDef> Typ </th>
            <td cdk-cell *cdkCellDef="let element"> {{element.antwortTyp}} </td>
          </ng-container>
          <ng-container cdkColumnDef="expandedDetail">
            <div cdk-cell *cdkCellDef="let element" [ngClass]="element == expanded_row ? '' : 'hideDetail'">
                some expanded stuff
            </div>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" (click)="test(row)"></tr>
          <tr cdk-row *cdkRowDef="let expanded_row; columns: ['expandedDetail']"> </tr>
        </table>

        <!-- <div class="mb-4 w-full last-of-type:mb-0 flex flex-row items-center" *ngFor="let frage of fragen$ | async">
          <cdk-accordion class="w-full">
            <cdk-accordion-item #accordionItem="cdkAccordionItem"
              class="block w-full rounded-xl bg-[#312636]">
              <div>
                <div class="flex justify-center items-center h-14 cursor-pointer"
                  (click)="accordionItem.toggle()">
                  <div class="w-4/5 text-left p-4">{{frage.frage}}</div>
                  <div class="w-1/5 text-left p-4">{{antwortTyp[frage.antwortTyp]}}</div>
                </div>
                <div class="p-4 bg-[#231b26]" [style.display]="accordionItem.expanded ? '' : 'none'">
                  ich bin expandiert
                </div>
              </div>
            </cdk-accordion-item>
          </cdk-accordion>
          <button mat-icon-button (click)="frage.favorit = !frage.favorit">
            <mat-icon *ngIf="!frage.favorit">
              star_outlined
            </mat-icon>
            <mat-icon *ngIf="frage.favorit">
              star
            </mat-icon>
          </button>
        </div> -->
      </div>
    </div>

  </div>
</div>