<div class="box-content-layout">
  @if(showLogin){
    <div class="w-96 h-auto p-3">
      <h1 class="">Einloggen</h1>
      <div class="flex flex-col ">
        <input id="username" placeholder="Nutzername" class="bg-[#2b2b2b] border-none rounded-sm bg h-8 p-2" matInput [(ngModel)]="username" type="text">
      </div>
      <div class="flex flex-col mt-4">
        <input id="password" placeholder="Passwort" class="bg-[#2b2b2b] border-none rounded-sm bg h-8 p-2 " matInput [(ngModel)]="password" type="password">
      </div>
      <div class="mt-4 flex justify-between items-center">
        <a (click)="showLogin = !showLogin">Noch keinen Account?</a>
        <button mat-raised-button (click)="loginUser()" color="accent">Einloggen</button>
      </div>

    </div>

  } @else {
    <div class="w-96 h-auto p-3">
      <h1>Registrieren</h1>

      <div class="flex flex-col">
        <input id="username" placeholder="Nutzername" class="bg-[#2b2b2b] border-none rounded-sm bg h-8 p-2" matInput [(ngModel)]="username" type="text">
      </div>
      <div class="flex flex-col mt-4">
        <input id="email" placeholder="Email" class="bg-[#2b2b2b] border-none rounded-sm bg h-8 p-2" matInput [(ngModel)]="email" type="email">
      </div>
      <div class="flex flex-col mt-4">
        <input id="password" placeholder="Passwort" class="bg-[#2b2b2b] border-none rounded-sm bg h-8 p-2" matInput [(ngModel)]="password" type="password">
      </div>

      <div class="mt-4 flex justify-between items-center">
        <a (click)="showLogin = !showLogin">Bereits registriert?</a>
        <button mat-raised-button (click)="registerUser()" color="accent">Registrieren</button>
      </div>
    </div>
  }
</div>