<!-- <input mat-input type="file"> -->

<!-- <button mat-raised-button color="primary" (click)="fragenSelektieren()"> Fragen selektieren </button> -->
<div class="flex flex-row w-full h-full p-4 space-x-4">
  <!-- Fragen Details editieren -->
  <div class="w-1/3 h-full flex flex-col box-content-layout">

    <div *ngIf="frage.antwortTyp == type.Empty">
      <mat-label>Fragentyp auswählen</mat-label>
      <mat-divider></mat-divider>
      <mat-chip-listbox class="mt-2 mb-4" (change)="test($event)">
        <mat-chip-option value="Text"> Text </mat-chip-option>
        <mat-chip-option value="Anzahl"> Anzahl Nennen </mat-chip-option>
        <mat-chip-option value="Multiple_Choice"> Multiple Choice</mat-chip-option>
        <mat-chip-option value="Nennungen"> Aufzählung </mat-chip-option>
        <mat-chip-option value="Zeichnung" color="warn"> Zeichnung (Experimental) </mat-chip-option>
        <mat-chip-option value="Sortieren"> Sortieren </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div *ngIf="frage.antwortTyp != type.Empty">
      <!-- Fragen Header -->
      <div class="flex justify-between mb-4">
        <button mat-mini-fab color="primary" (click)="deselectType()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="save()">
          Frage speichern 
        </button>
      </div>
      <mat-label>Frage formulieren</mat-label>
      <mat-divider></mat-divider>
      <mat-form-field class="mt-4 w-full" appearance="fill">
        <mat-label>Frage</mat-label>
        <input matInput [(ngModel)]="frage.frage" type="text">
      </mat-form-field>

      <div class="flex flex-col mt-4">
        <mat-label>Schwierigkeit</mat-label>
        <mat-divider></mat-divider>
        <mat-slider [min]="min" [max]="max" step="1" discrete>
          <input matSliderThumb>
        </mat-slider>
      </div>

      <!-- Fragen Body -->
      <div class="mt-2" *ngIf="frage.antwortTyp">
        <div [ngSwitch]="frage.antwortTyp">
          <div *ngSwitchCase="'Text'">
            <mat-form-field>
              <textarea matInput placeholder="Antworttext"></textarea>
            </mat-form-field>
          </div>
          <!-- Multiple Choice -->
          <div *ngSwitchCase="'Multiple_Choice'">
            <mat-label class="mt-4">Antwortmöglichkeiten</mat-label>
            <mat-divider></mat-divider>

            <div class="flex items-center mb-2">
              <button mat-icon-button color="primary" (click)="addMCAnswer()">
                <mat-icon>add</mat-icon>
              </button>
              <div class="text-lg ml-4">{{anz_antworten}}</div>
            </div>
            <mat-divider></mat-divider>

            <div *ngFor="let antwort of antw_moeglichkeiten">
              <div class="flex items-center justify-around mb-2 mt-2">
                <div class="flex w-full">
                  <button mat-icon-button color="warn" (click)="removeMCAnswer(antwort)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <div class="w-4/5">
                    <mat-form-field class="flex w-full items-center">
                      <input matInput [(ngModel)]="antwort.antworttext" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <button mat-icon-button (click)="antwort.multiple_choice_correct = !antwort.multiple_choice_correct">
                    <mat-icon *ngIf="!antwort.multiple_choice_correct">check_box_outline_blank</mat-icon>
                    <mat-icon *ngIf="antwort.multiple_choice_correct">check_box</mat-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>
          <!-- Nennungen -->
          <div *ngSwitchCase="'Nennungen'">3</div>
          <!-- Anzahl -->
          <div *ngSwitchCase="'Anzahl'">4</div>
          <!-- Vervollstaendigen -->
          <div *ngSwitchCase="'Vervollstaendigen'">5</div>
          <!-- Sortieren -->
          <div *ngSwitchCase="'Sortieren'">5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-full w-2/3">
    <div class="h-2/3 w-full box-content-layout">
      <app-display-frage class="my-auto" [display-Frage]="frage"></app-display-frage>
    </div>
    <div class="h-1/3 flex pt-4 space-x-4">
      <div class="w-1/2 box-content-layout">
        Layout
      </div>
      <div class="w-1/2 box-content-layout">
        <div>Design</div>
      </div>
    </div>
  </div>
</div>
<!-- TODO: Bildanzeige in display frage irgendwann einbauen -->
<!-- <div class="bg-orange-500">
  <div *ngFor="let frage of fragen" class="mb-5">
    <div>Frage: {{frage.frage}}</div>
    <div>Punkte: {{frage.punktevorschlag}}</div>
    <img *ngIf="frage.image != undefined" src={{frage.image._url}}>
  </div>
</div> -->