<div class="flex flex-row p-4 space-x-4">
  
  <a routerLink="create/fragenBrowser" class="box-content-layout w-1/3 h-64 transition duration-75 hover:scale-102">
    
    <div class="text-lg">Fragen Browser / Creator</div>
    <mat-divider></mat-divider>
    <div class="text-ellipsis">
      Hier kannst du dir von Fragen anschauen die von anderen Nutzern erstellt wurden oder eigene Fragen erstellen.
    </div> 
    
  </a>
  <a routerLink="" class="box-content-layout w-1/3 h-64 transition duration-75 hover:scale-102">
    <button (click)="test1()"></button>
    <button (click)="test2()"></button>
  </a>
  <a routerLink="" class="box-content-layout w-1/3 h-64 transition duration-75 hover:scale-102"></a>
</div>